#controls {
    display: flex;
    gap: 16px;
    padding: 32px;
    background-color: #f6f6fe;
    border-radius: 8px;
    margin-bottom: 16px;
    width: 486px;
}

#controls input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #808080;
    border-radius: 8px;
    width: 150px;
    height: 40px;
}

#controls button[data-create] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    background-color: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 500ms ease-in-out;
}

#controls button[data-destroy] {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    background-color: #ff4e4e;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 500ms ease-in-out;
}

#controls button[data-create]:hover {
    background-color: #6c8cff;
}

#controls button[data-destroy]:hover {
    background-color: #ff7070;
}

#boxes {
    display: flex;
    /* min-width: 20000px; */
    min-width: 2000vw;
    column-gap: 16px;
    border-radius: 8px;
    padding: 32px;
    background: #f6f6fe;
}